#root {
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 2rem;
}

@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(2) .logo {
        -webkit-animation: logo-spin infinite 20s linear;
        animation: logo-spin infinite 20s linear;
    }
}
